<header>
    <nav class="header-nav">
    <a href="/"><img src="https://pbs.twimg.com/profile_images/827582121996800000/9TO0cX_u.jpg" height="80px" width="80px"></a>
    <a class="header-title" href="/">49er Shops Bookstore</a>
      <ul>
          <li><a href="/authors">Authors</a></li>
          <li><a href="/authors/new">Add Author</a></li>
          <li><a href="/books">TextBooks</a></li>
          <li><a href="/books/new">Add TextBook</a></li>
      </ul>
    </nav>
</header>
